.profile__info {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid: 60% 1fr / 1fr;
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding: 0;
  gap: 4px;
  width: fit-content;
  box-sizing: border-box;
}

@media screen and (max-width: 950px) {
  .profile__info {
    max-width: 550px;
    width: 88%;
    margin-bottom: 10px;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 770px) {
  .profile__info {
    max-width: 292px;
    width: 100%;
    gap: 7px;
  }
}
