.button-like {
  display: block;
  width: 23px;
  height: 19px;
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;

  flex-wrap: wrap;
  box-sizing: border-box;
  border: 0;
  align-self: center;
  justify-content: center;
  object-position: center;
  object-fit: cover;

  background: transparent url(../../images/like.svg) no-repeat center / 22px;
  z-index: 2;
}

.button-like:hover {
  opacity: 0.5;
  cursor: pointer;
}
