.button-close_info {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 0;
  align-self: center;
  justify-content: center;
  object-position: center;
  object-fit: cover;
  position: absolute;
  width: 32px;
  height: 32px;
  top: calc(50% - 165px - 8px);
  right: calc(50% - 215px - 8px);
  background: transparent url(../../images/Close.svg) no-repeat center / 32px;
  align-content: center;
  z-index: 11;
}

.button-close_info:hover,
.button-close_info:focus {
  opacity: 0.8;
}

/*
@media screen and (max-width: 540px) {
  .button-close_info {
    top: calc(50% - 165px - 8px);
    right: calc(50% - 215px - 8px);
    width: 20px;
    height: 20px;
    background-size: 20px;
    justify-self: right;
  }
}
*/
