.button-delete {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  display: none;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  align-self: start;
  justify-content: center;
  object-position: center;
  object-fit: cover;
  align-content: flex-start;
  height: 19.3px;
  grid-row: 1;
  grid-column: 1;
  max-width: 18px;
  position: relative;
  background: transparent url(../../images/delete.svg) no-repeat center / 18px;
  margin-top: 20px;
  margin-right: 20px;
  justify-self: end;
  z-index: 2;
}

.button-delete:hover {
  opacity: 0.6;
  cursor: pointer;
}

.button-delete:focus {
  opacity: 0.6;
}
