.profile {
  display: -ms-grid;
  display: grid;
  grid: 120px / 120px 1fr 150px;
  column-gap: 30px;
  padding: 0;
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
  margin: 40px auto 50px;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  .profile {
    display: flex;
    max-width: 88%;
    flex-direction: column;
    align-items: center;
    row-gap: 26px;
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media screen and (max-width: 540px) {
  .profile {
    max-width: 282px;
    margin: 42px auto 36px;
  }
}
