.popup__photo-title {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  justify-self: left;
  color: #fff;
}
