.footer {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 66px;
  justify-content: flex-start;
  flex-shrink: 0;
}

@media screen and (max-width: 950px) {
  .footer {
    max-width: 88%;
    margin-left: 6%;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    margin-top: 48px;
    margin-left: 19px;
  }
}
