.header__nav {
  display: flex;
  margin-left: auto;
  gap: 24px;
}

@media screen and (max-width: 950px) {
  .header__nav {
    margin-right: 6%;
  }
}

@media screen and (max-width: 540px) {
  .header__nav {
    max-width: 104px;
    margin-right: 27px;
  }
}
