.avatar__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8) url(../../../images/pen.svg) no-repeat center /
    26px;
  opacity: 0;
}

.avatar__overlay:hover {
  cursor: pointer;
  opacity: 0.8;
  z-index: 2;
}
