.auth-form {
  display: flex;
  max-width: 358px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
  margin: 50px auto 80px auto;
  padding: 0;
  box-sizing: border-box;
}
